<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    
    <springProfile name="!production">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [tenantId=%X{tenantId:-NONE}] [correlationId=%X{correlationId:-NONE}] - %msg%n</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="production">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp>
                        <fieldName>timestamp</fieldName>
                        <timeZone>UTC</timeZone>
                    </timestamp>
                    <version/>
                    <logLevel>
                        <fieldName>level</fieldName>
                    </logLevel>
                    <loggerName>
                        <fieldName>logger</fieldName>
                    </loggerName>
                    <threadName>
                        <fieldName>thread</fieldName>
                    </threadName>
                    <mdc>
                        <includeMdcKeyName>tenantId</includeMdcKeyName>
                        <includeMdcKeyName>correlationId</includeMdcKeyName>
                        <includeMdcKeyName>userId</includeMdcKeyName>
                        <includeMdcKeyName>username</includeMdcKeyName>
                    </mdc>
                    <arguments/>
                    <message>
                        <fieldName>message</fieldName>
                    </message>
                    <stackTrace>
                        <fieldName>stackTrace</fieldName>
                    </stackTrace>
                    <pattern>
                        <pattern>
                            {
                                "service": "contact-service",
                                "environment": "${SPRING_PROFILES_ACTIVE:-local}"
                            }
                        </pattern>
                    </pattern>
                </providers>
            </encoder>
        </appender>
        
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <logger name="com.iqscaffold.contactservice" level="DEBUG"/>
    <logger name="org.springframework.security" level="INFO"/>
    <logger name="org.hibernate.SQL" level="INFO"/>
    <logger name="liquibase" level="INFO"/>
</configuration>